[core]
	pager = delta
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
[commit]
	template = {{ .chezmoi.homeDir }}/.git_commit_template
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	last = log -1 HEAD
	cm = commit -m
	wt = worktree
	clone-for-worktree = "!sh $HOME/scripts/git-clone-for-worktrees.sh"
[branch]
	autoSetupRebase = always
[user]
	email = {{ .email }}
	name = Juan Barajas
[fetch]
	prune = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
[delta]
    navigate = true
[interactive]
    diffFilter = delta --color-only
[submodule]
	recurse = true
